{% extends "base.html" %}
{% block body %}

<div class="row">
  <div class="col-sm-offset-2 col-md-8">
        <table class="table table-striped table-bordered">
            <tr>
                <td >#1</td>
                <td >Email</td>
                <td>Logo</td>
            </tr>
            {%for u in users %}
                <tr>
                    <td >{{forloop.counter}}</td>
                    <td >{{u.username}}</td>
                    <td><img src="{{u.last_name}}"/></td>
                </tr>
            {% endfor %}
        </table>
  </div>
</div>
{% endblock %}

