{% extends "base.html" %}
{% block body %}

<div class="row">
  <div class="col-sm-offset-2 col-md-8">
        <table class="table table-bordered">
            <tr>
                <td style="width: 70px">#1</td>
                <td style="width: 70px">Logo</td>
                <td >User</td>
                <td> Q.Round</td>
                <td> Round1</td>
                <td> Round2</td>
                <td> Round3</td>
            </tr>
            {%for u in users %}
                <tr>
                    <td style="width: 70px">{{forloop.counter}}</td>
                    <td><img src="{{u.last_name}}" width="60px" height="60px"/></td>
                    <td >{{u.username}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
  </div>
</div>
{% endblock %}

